/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling:
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem
**************************************************/
@import 'https://fonts.googleapis.com/css?family=Rokkitt%7cUbuntu';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: Ubuntu, Verdana, "Arial Rounded MT Bold", sans-serif;
    padding: 0 3rem;
}
/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1{
    font: bold 6.854rem Rokkitt, Courier, "Courier New", serif;
    text-shadow: 0px 4px 6px #000;
    padding: 2.5rem 0;
    text-align: center;
    margin-bottom: 1.5rem;
    border: solid 3px #555;
    background-image: url(../img/300.jpeg);
    background-size: cover;
    background-position: 20% 50%;
    background-color: lightslategray;
}
h2{
    font: bold 2.6rem Rokkitt, Courier, "Courier New", serif;
}
li, p, a{
    font: bold 1.0rem Ubuntu, Verdana, "Arial Rounded MT Bold", sans-serif;
}
pre, code, kbd{
    font: normal 1.0rem Rokkitt, Courier, "Courier New", serif;
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
}
header{
    width: 100%;
    color: #3cb0fd;
    box-shadow: 0px 4px 6px #000;
}
nav{
    width: 100%;
}
nav>ul{
    width: 100%;
}
nav li{
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: solid 2px #555;
    border-left: solid 2px #555;
    border-right: solid 2px #555;
}
nav li:nth-child(1){
    border-top: solid 2px #555;
}
ul{
    list-style: none;
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    text-decoration: none;
    font: bold 1.6rem 'Ubuntu', 'more font stack stuff', sans-serif;
    text-align: center;
    margin: 0;
}
nav a:active,
nav a:focus,
nav a:hover{
    color: #3cb0fd;
    transition: all 0.25s ease-out;
}
main{
    width: 100%;
}
.col{
    float: none;
    width: 100%;
    padding: 1rem 0rem;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: lightslategray;
    margin-bottom: 0.5rem;
    border: solid 2px #555;
}
footer{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    font: bold 1.2rem;
}
.col p{
    padding-top: 0.5rem;
    font-size: 1.2rem;
}
.col h2{
    padding: 0.5rem 0;
}
.footer ul{
    margin-top: 0.5rem;
    text-align: center;
}
.footer li{
    padding: 0.5rem 0;
    font: bold 1.2rem;
}
/***************************
    LAYOUT - MEDIUM SIZE
***************************/
@media screen and (min-width:600px){
    .wrapper{
        width: 100%;
    }
    header{
        width: 100%;
    }
    h1{
        font-size: 4.236rem;
    }
    nav{
        width: 90%;
    }
    nav li{
        float: left;
        width: 20%;
        border-bottom: solid 2px #555;
        border-right: none;
        border-left: none;
        border-top: solid 2px #555;
    }
    nav li:nth-child(1){
        border-bottom: solid 2px #555;
        border-left: solid 2px #555;
        border-top: solid 2px #555;
        border-right: none;
    }
    nav li:nth-child(5){
        border-right: solid 2px #555;
    }
    .main{
        clear: both; 
        width: 90%;   
    }
    h2{
        font-size: 1.618rem;
        font-weight: bolder;
    }
    .col{
        float: left;
        width: 50%;
        padding-right: 1.0rem;
    }
    .col img{
        width: 60%;
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0rem;
    }
    .col p{
        font-size: 1.0rem;
    }
    .footer{
        clear: both;
        width: 90%;
    }    
}
/***************************
    LAYOUT - LARGE SIZE
***************************/
@media screen and (min-width: 800px){
    .wrapper{
        width: 100%;
    }
    header{
        width: 100%;
    }
    h1{
        font-size: 6.8rem;
    }
    h2{
        font-size: 2.618rem;
    }
    nav{
        width: 90%;
    }
    nav li{
        float: left;
        width: 20%;
        border: none;
    }
    nav li:nth-child(1){
        border: none;
    }
    nav li:nth-child(5){
        border: none;
    }
    nav a,
    nav a:link,
    nav a:visited{
        text-align: left;
        font-size: 2.1rem;
    }
    .main{
        width: 90%;
    }
    .col{
        float: left;
        width: 50%;
    }
    .col p{
        font-size: 1.0rem;
    }
    .col img{
        width: 50%;
        float: left;
        margin-right: 0.5rem;
    }
    .footer{
        clear: both;
        width: 100%;
    }
}
/***************************
    LAYOUT - X-LAGE SIZE
***************************/
@media screen and (min-width: 1200px){
    .wrapper{
        width: 100%;
    }
    header{
        width: 100%;
    }
    h1{
        font-size: 10rem;
    }
    nav{
        float: left;
        width: 30%;
    }
    nav li{
        width: 100%;
    }
    .main{
        clear: right;
        float: left;
        width: 70%;
    }
    h2{
        font-size: 2.618rem;
    }
    nav a,
    nav a:link,
    nav a:visited{
        text-align: center;
        font-size: 2.618rem;
    }
    .col{
        padding: 0.5rem;
    }
    .col>h2{
        margin-top: 0;
        padding: 0;
        margin-bottom: 0.5rem;
    }
    .col{
        float: left;
        width: 50%;
    }
    .col img{
        width: 55%;
        float: left;
        margin-right: 0.5rem;
    }
    .footer{
        clear: both;
        width: 100%;
    }
}
